@model UpdateBannerDto
@{
    ViewData["Title"] = "UpdateBanner";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Banner Güncelleme Sayfası</h4>
                        <p class="card-subtitle mb-4">Banner ile ilgili temel bilgileri eksiksiz doldurmanız önemlidir. Veri girişlerinden sonra kaydet butonuna tıklayarak güncelleme işlemini tamamlayabilirsiniz.</p>
                        <form method="post">
                            <input type="hidden" asp-for="BannerID" />
                            <div class="form-group">
                                <label for="exampleInputTitle">Başlık</label>
                                <input type="text" class="form-control" id="exampleInputTitle" asp-for="Title" placeholder="Başlıği Giriniz">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputDescription">Açıklama</label>
                                <input type="text" class="form-control" id="exampleInputDescription" asp-for="Description" placeholder="Açıklama Girişi Yapınız">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputVideoUrl">Video URL</label>
                                <input type="text" class="form-control" id="exampleInputVideoUrl" asp-for="VideoUrl" placeholder="Video URL Girişi Yapınız">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputVideoDescription">Video Açıklama</label>
                                <input type="text" class="form-control" id="exampleInputVideoDescription" asp-for="VideoDescription" placeholder="Video Açıklama Girişi Yapınız">
                            </div>

                            <button type="submit" class="btn btn-primary waves-effect waves-light">Bannerı Kaydet</button>
                        </form>

                    </div> <!-- end card-body-->
                </div>

            </div>
            <!-- end card-body-->
        </div>
        <!-- end card -->

    </div>
    <!-- end col -->

</div>
