@model UpdateCategoryDto
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Kategori Güncelleme Sayfası</h4>
                        <p class="card-subtitle mb-4">Kategori ile ilgili temel bilgileri eksiksiz doldurmanız önemlidir. Veri girişlerinden sonra kaydet butonuna tıklayarak güncelleme işlemini tamamlayabilirsiniz.</p>
                        <form method="post">
                            <input type="hidden" asp-for="CategoryID" />
                            <div class="form-group">
                                <label for="exampleInputName">Kategori</label>
                                <input type="text" class="form-control" id="exampleInputName" asp-for="Name" placeholder="Kategori Adını Giriniz">
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Kategoriyi Kaydet</button>
                        </form>

                    </div> <!-- end card-body-->
                </div>

            </div>
            <!-- end card-body-->
        </div>
        <!-- end card -->

    </div>
    <!-- end col -->

</div>
