@model CreateAboutDto
@{
    ViewData["Title"] = "CreateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Yeni Hakkımızda Bilgisi Girişi</h4>
                        <p class="card-subtitle mb-4">
                            Hakkımızda alanına veri girişini aşağıdaki panelden yapabilirsiniz. Tasarımda bozulma olmaması adına yeni bir
                            hakkımızda girişi yaptıktan sonra önceki hakkımızda alanını silin, sadece 1 tane hakkımızda verisi kalmalıdır.
                        </p>
                        <form method="post">

                            <div class="form-group">
                                <label for="exampleInputTitle">Başlık</label>
                                <input type="text" class="form-control" id="exampleInputTitle" asp-for="title" placeholder="Başlıği Giriniz">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputDescription">Açıklama</label>
                                <input type="text" class="form-control" id="exampleInputDescription" asp-for="description" placeholder="Açıklama Girişi Yapınız">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputimageUrl">Resim URL</label>
                                <input type="text" class="form-control" id="exampleInputimageUrl" asp-for="imageUrl" placeholder="Resim URL Girişi Yapınız">
                            </div>
                           

                            <button type="submit" class="btn btn-primary waves-effect waves-light">Hakkımızdayı Kaydet</button>
                        </form>

                    </div> <!-- end card-body-->
                </div>

            </div>
            <!-- end card-body-->
        </div>
        <!-- end card -->

    </div>
    <!-- end col -->

</div>

